{% extends 'listaempleados/base.html'%}

{% block content %}

<!-- Content -->
<div class="content">
    <h2>Datos Personales</h2>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>RUT</th>
                    <td>12345678-9</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>Juan Pérez</td>
                </tr>
                <tr>
                    <th>Sexo</th>
                    <td>Masculino</td>
                </tr>
                <tr>
                    <th>Dirección</th>
                    <td>Calle Falsa 123</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>+56 9 1234 5678</td>
                </tr>
                <tr>
                    <th>Correo Electrónico</th>
                    <td>juan.perez@example.com</td>
                </tr>
                <tr>
                    <th>Cargo</th>
                    <td>Trabajador Común</td>
                </tr>
                <tr>
                    <th>Nombre Carga Familiar</th>
                    <td>María Pérez</td>
                </tr>
                <tr>
                    <th>RUT Carga Familiar</th>
                    <td>98765432-1</td>
                </tr>
                <tr>
                    <th>Nombre Contacto Emergencia</th>
                    <td>Pedro Pérez</td>
                </tr>
                <tr>
                    <th>RUT Contacto Emergencia</th>
                    <td>87654321-0</td>
                </tr>
                <tr>
                    <th>Teléfono Contacto Emergencia</th>
                    <td>+56 9 8765 4321</td>
                </tr>
                <tr>
                    <th>Dirección Contacto Emergencia</th>
                    <td>Calle Verdadera 456</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}